/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  .section-title{
    padding-bottom: 60px;
  }
	.content {
		h3 {
			font-weight: 700;
			font-size: 1.8rem;
			color: #222;
		}
		ul {
			list-style: none;
			padding: 0;
			li {
				margin-bottom: 20px;
				display: flex;
				align-items: center;
				font-size: 1.1rem;
			}
			strong {
				margin-right: 10px;
			}
			i {
				font-size: 16px;
				margin-right: 5px;
				color: #9dc7d3;
				line-height: 0;
			}
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

/*--------------------------------------------------------------
# about bg
--------------------------------------------------------------*/

#about{

  .profile-img{
    z-index: 1;
    
    img{
      border-radius: 20px;
      box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
      transition: all .3s;

      &:hover{
        transform: translateY(-10px);
        border-radius: 50%;
      }
      
    }
  }
  .add-bg{
    position: relative;
    padding-left: 30px;
    @media all and (max-width: 1320px){
      padding-left: inherit;;
    }

    h3{
      padding: 130px 0 30px;
      @media all and (max-width: 1320px){
        padding: 5rem 0 1.5rem;
      }
    }

    &::after{
      content:'';
      display: inline-block;
      width: 150%;
      height: 93%;
      background-color: #eee;
      position: absolute;
      z-index: -1;
      top: 10%;
      left: -10%;
    }
  }
}

.u-line{
  font-weight: normal;
  background: linear-gradient(180deg,rgba(255,255,255,0) 60%, rgba(158,214,218,0.6) 40%);
}
