/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@font-face {
  font-family: "NEXON Gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NEXON Gothic Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Nexon Gothic", sans-serif;
  color: #272829;
  overflow-y: hidden;
}

a {
  color: #9dc7d3;
  text-decoration: none;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nexon Gothic", sans-serif;
}

p {
  font-family: "NEXON Gothic";
}

@media (max-width: 991px) {
  body {
    overflow-y: scroll;
  }
}
/*--------------------------------------------------------------
# variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #9dc7d3;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #56a0a5;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  /* width: 280px; */
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0 15px;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #81a1ae;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Nexon Gothic", sans-serif;
}

#header .profile h1 a, #header .profile h1 a:hover {
  color: #222;
  text-decoration: none;
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-links a:hover {
  background: #56a0a5;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1199px) {
  #header {
    left: -280px;
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 995;
  background: #56a0a5;
}

#footer .copyright {
  text-align: center;
  opacity: 0.6;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.2);
}

#footer .credits a {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.1);
}

.section {
  height: 100vh;
}

@media (max-width: 991px) {
  #hero,
  #contact {
    height: 100vh !important;
  }
  section {
    height: inherit !important;
  }
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
/* Mobile Navigation */
.nav-menu {
  height: 100vh;
  padding: 0.5rem;
}
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}
.nav-menu a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 30px;
  min-width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6f7180;
  padding: 0;
  margin: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
}
.nav-menu a:focus {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 30px;
  min-width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6f7180;
  padding: 0;
  margin: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
}
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}
.nav-menu a i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}
.nav-menu a span {
  position: relative;
  margin-left: 5px;
  line-height: 1;
}
.nav-menu a:hover {
  text-decoration: none;
  color: #00605c;
  font-weight: bold;
}
.nav-menu a:hover span {
  display: block;
}
.nav-menu a:hover i {
  color: #00605c;
}
.nav-menu a.active span {
  display: block;
}
.nav-menu .active {
  text-decoration: none;
  color: #00605c;
  font-weight: bold;
}
.nav-menu .active:focus {
  text-decoration: none;
  color: #00605c;
  font-weight: bold;
}
.nav-menu .active:focus i {
  color: #00605c;
}
.nav-menu .active i {
  color: #00605c;
}
.nav-menu li:hover > a {
  text-decoration: none;
  color: #00605c;
  font-weight: bold;
}
.nav-menu li:hover > a i {
  color: #00605c;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline: none !important;
  background-color: #9dc7d3;
  color: #fff;
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}
.mobile-nav-active #header {
  left: 0;
  width: 280px;
  background: #9dc7d3;
}

@media (min-width: 1200px) {
  .nav-menu a span {
    display: none;
    background: #00605c;
    border-radius: 0.4em;
    padding: 0.5em 0.8em;
    color: #fff;
  }
  .nav-menu a span:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: #00605c;
    border-left: 0;
    margin-top: -5px;
    margin-left: -5px;
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  overflow: hidden;
}

.section-bg {
  background: #eee;
}

.section-title {
  padding-top: 60px;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #00605c;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #9dc7d3;
  bottom: 0;
  left: 0;
}
.section-title p {
  margin-bottom: 0;
  font-size: 1.2rem;
  word-break: keep-all;
}

@media (max-width: 767px) {
  .section-title p {
    font-size: 1rem;
  }
}
/*--------------------------------------------------------------
# main Section
--------------------------------------------------------------*/
#main {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background: #deeaed;
  position: relative;
}
@media (min-width: 1024px) {
  #main {
    background-attachment: fixed;
  }
}
@media (max-width: 767px) {
  #main {
    padding: 0 0.5rem;
  }
}
#main .main-bg-area {
  background: url("../img/main-bg.jpg") no-repeat center center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
}
#main h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
}
@media (max-width: 767px) {
  #main h1 {
    font-size: 28px;
    line-height: 36px;
  }
}
#main p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Nexon Gothic", sans-serif;
}
#main p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #9dc7d3;
}
#main .home-image {
  width: 600px;
  height: 80vh;
  border-radius: 300px 300px 0 0;
  position: absolute;
  right: 10%;
  overflow: hidden;
}
#main .home-image img {
  height: 100%;
  margin-left: -40%;
}
@media (max-width: 767px) {
  #main .home-image {
    display: none;
  }
}

#intro {
  max-width: 100%;
  z-index: 2;
  padding-right: 10%;
}
@media all and (max-width: 1320px) {
  #intro {
    padding-right: 0;
  }
}
#intro div {
  display: inline-block;
}
#intro .bigger {
  margin: 0;
  font-size: 125px;
  font-weight: 800;
  padding: 20px 0;
  text-transform: uppercase;
  color: #202020;
  line-height: 1.2;
  display: inline-block;
  position: relative;
  font-family: "NEXON Gothic Bold", sans-serif;
}
@media all and (max-width: 1320px) {
  #intro .bigger {
    font-size: 80px;
  }
}
#intro .text {
  max-width: 800px;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  text-align: left;
  color: #404040;
  padding: 20px 0;
  font-size: 22px;
}
#intro .text b {
  font-weight: 800;
}
#intro .text a {
  color: #9dc7d3;
}
#intro .text.txt-center {
  font-size: 28px;
  font-weight: 600;
  color: #54929d;
  text-align: center;
}
@media all and (max-width: 1320px) {
  #intro .text.txt-center {
    font-size: 1.2rem;
    background: #fff;
    padding: 0 0.2rem;
  }
}
#intro .has-animation {
  position: relative;
  margin-bottom: 20px;
}
#intro .has-animation p, #intro .has-animation img {
  opacity: 0;
}
#intro .has-animation.animate-in p, #intro .has-animation.animate-in img {
  -webkit-animation: textHidden 0.1s 1.1s forwards;
          animation: textHidden 0.1s 1.1s forwards;
}
#intro .has-animation.animate-in:before, #intro .has-animation.animate-in:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 10;
}
#intro .has-animation.animate-in:before {
  background-color: #9dc7d3;
}
#intro .has-animation.animate-in:after {
  background-color: #202020;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
#intro .has-animation.animation-ltr.animate-in:before {
  -webkit-animation: revealLTR 1.8s ease;
          animation: revealLTR 1.8s ease;
}
#intro .has-animation.animation-ltr.animate-in:after {
  -webkit-animation: revealLTR 1s 0.6s ease;
          animation: revealLTR 1s 0.6s ease;
}
#intro .has-animation.animation-rtl.animate-in:before {
  -webkit-animation: revealRTL 1.8s ease;
          animation: revealRTL 1.8s ease;
}
#intro .has-animation.animation-rtl.animate-in:after {
  -webkit-animation: revealRTL 1s 0.6s ease;
          animation: revealRTL 1s 0.6s ease;
}

@-webkit-keyframes revealRTL {
  0% {
    width: 0;
    right: 0;
  }
  65% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}

@keyframes revealRTL {
  0% {
    width: 0;
    right: 0;
  }
  65% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@-webkit-keyframes revealLTR {
  0% {
    width: 0;
    left: 0;
  }
  65% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes revealLTR {
  0% {
    width: 0;
    left: 0;
  }
  65% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@-webkit-keyframes textHidden {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes textHidden {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .section-title {
  padding-bottom: 60px;
}
.about .content h3 {
  font-weight: 700;
  font-size: 1.8rem;
  color: #222;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
}
.about .content ul strong {
  margin-right: 10px;
}
.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #9dc7d3;
  line-height: 0;
}
.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# about bg
--------------------------------------------------------------*/
#about .profile-img {
  z-index: 1;
}
#about .profile-img img {
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#about .profile-img img:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  border-radius: 50%;
}
#about .add-bg {
  position: relative;
  padding-left: 30px;
}
@media all and (max-width: 1320px) {
  #about .add-bg {
    padding-left: inherit;
  }
}
#about .add-bg h3 {
  padding: 130px 0 30px;
}
@media all and (max-width: 1320px) {
  #about .add-bg h3 {
    padding: 5rem 0 1.5rem;
  }
}
#about .add-bg::after {
  content: "";
  display: inline-block;
  width: 150%;
  height: 93%;
  background-color: #eee;
  position: absolute;
  z-index: -1;
  top: 10%;
  left: -10%;
}

.u-line {
  font-weight: normal;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(255, 255, 255, 0)), color-stop(40%, rgba(158, 214, 218, 0.6)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, rgba(158, 214, 218, 0.6) 40%);
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills {
  position: relative;
}
.skills .section-title {
  padding-bottom: 0;
}
.skills .section-title h2 {
  opacity: 0.3;
  font-size: 100px;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: right;
}
.skills .section-title h2::after {
  display: none;
}
.skills .row > div {
  padding: 25px;
}

.skills.section-bg {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fff), to(#cff1fa));
  background-image: linear-gradient(to bottom right, #fff, #cff1fa);
}

.skill-icon {
  display: inline-block;
  width: 4.5em;
  height: 4.5em;
  line-height: 4.5em;
  margin-top: 10px;
}
.skill-icon img {
  max-width: 100%;
}

#skill-icon5 img {
  width: 110%;
}

.skill-heading {
  margin-top: 10px;
  margin-bottom: 20px;
}

.skillWrap {
  position: relative;
  z-index: 1;
  background: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.skillWrap::before {
  content: "";
  display: block;
  width: 500px;
  height: 500px;
  position: absolute;
  background: #81a1ae;
  left: -30px;
  top: -30px;
  z-index: -1;
}
.skillWrap::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  left: 0;
  top: 0;
  z-index: -1;
}
.skillWrap .text-muted {
  font-size: 1rem;
  color: #666 !important;
  word-break: keep-all;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio {
  position: relative;
}

.portfolio::before {
  content: "";
  display: block;
  width: 50%;
  height: 100vh;
  background: #f8f8f8;
  position: absolute;
  right: 0;
  top: 0;
}

.portfolio .section-title h2::after {
  width: 150%;
  height: 2px;
  background: #00605c;
  left: 260px;
  top: 45%;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #00605c;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio .portfolio-wrap:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.portfolio .portfolio-wrap p {
  position: absolute;
  left: 20px;
  bottom: 0;
  font-size: 18px;
  color: #fff;
  z-index: 3;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 1;
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 50%;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: rgba(86, 160, 165, 0.95);
}

.portfolio .portfolio-wrap .portfolio-links a + a {
  border-left: 1px solid #9dc7d3;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #9dc7d3;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #9dc7d3;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  -webkit-box-shadow: 0px 0 30px rgba(5, 13, 24, 0.08);
          box-shadow: 0px 0 30px rgba(5, 13, 24, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 16px;
  margin-left: 10px;
}

.portfolio-details .portfolio-info ul li i {
  margin-left: -18px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background: #f9f9f9;
}

.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #0e2442;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}
/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts {
  padding: 40px 0 0;
}
.facts .container {
  padding: 0;
}
.facts .section-title {
  padding-top: 0;
  padding-bottom: 0;
}
.facts .section-title h2 {
  font-size: 24px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.facts .count-box {
  padding: 20px 5px;
  width: 100%;
}
.facts .count-box i {
  display: block;
  margin-top: 5px;
  font-size: 38px;
  color: #9dc7d3;
  float: left;
  line-height: 0;
}
.facts .count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: #050d18;
  margin-left: 60px;
}
.facts .count-box p {
  margin: 0 0 0 60px;
  font-size: 0.9rem;
  color: #122f57;
  word-break: keep-all;
}
.facts .count-box p strong {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 15px;
}
.facts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #122f57;
  font-size: 15px;
  font-family: "Nexon Gothic", sans-serif;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.facts .count-box a:hover {
  color: #1f5297;
}

@media (max-width: 1320px) {
  .about .content ul li {
    font-size: 0.95rem;
  }
  .facts .count-box p {
    font-size: 0.8rem;
  }
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 100px;
  position: relative;
  background: #deeaed;
}
.contact .container {
  position: relative;
  height: 100%;
}
.contact .container .infoWrap {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}
.contact .section-title {
  padding-bottom: 50px;
}
.contact .info {
  padding: 40px 30px;
  background: #fff;
  width: 100%;
  -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}
.contact .info > div {
  margin-bottom: 10px;
}
.contact .info > div.kakao {
  margin-bottom: 0;
}
.contact .info > div:hover i {
  background: #9dc7d3;
  color: #fff;
}
.contact .info i {
  margin-top: 10px;
  font-size: 20px;
  color: #9dc7d3;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 24px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 0;
  color: #050d18;
}
.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 0;
  font-size: 18px;
  color: #173b6c;
  word-break: break-all;
}
.contact .info .social-links {
  padding-left: 60px;
}
.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 10px;
}
.contact .info .social-links a:hover {
  background: #9dc7d3;
  color: #fff;
}
.contact .contact-image {
  position: absolute;
  width: 50%;
  height: 90vh;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50% 50% 0 0;
  overflow: hidden;
  opacity: 0.5;
}
@media (max-width: 991px) {
  .contact .contact-image {
    width: 80%;
  }
}

@-webkit-keyframes target_image {
  0% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
  50% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  100% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
}

@keyframes target_image {
  0% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
  50% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  100% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
}
img.hand {
  width: 32px;
  height: 32px;
  margin-top: -20px;
  -webkit-animation: target_image 2s;
          animation: target_image 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-transform-origin: 25% 100%;
          transform-origin: 25% 100%;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}