#header{
  width: 280px;
  background: #deeaed;
}
#detail-main{
  margin-left: 280px;
}
.mobile-nav-active{
  #detail-main{
    margin-left: 280px;
  }
}
.nav-menu{
  height: 50vh;
  display: flex;
}

@media (max-width: 1199px) {
  #detail-main{
    margin-left: 0;    
  }
}